{% extends 'testMain/base.html' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="'username">
        <label for="password">Password</label>
        <input type="text" name="password" id="'password">
    {% if login_error %}
        <label class="error">{{ login_error }}</label>
    {% endif %}
        <input class="button" type="submit" value="Login">
    </form>
{% endblock %}
