{% extends 'testMain/base.html' %}

{% block title %}
    <title>Logout</title>
{% endblock %}

{% block content %}
    <p>Thank you! Now you are logged out!</p>
    <p><a href="/"> Back to main page</a></p>
{% endblock %}
