{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <meta charset="UTF-8">
        <title>Kyribench</title>
    {% endblock %}

</head>
<body>
    <link rel="stylesheet" type=text/css href={% static "testMain/css/bootstrap.css" %} >
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">Home</a>
        <ul class="nav">
          <li class="active"><a href="/tests">Tests</a></li>
        </ul>
        <form class="navbar-form pull-right">
           <div class="navbar-inner">
              <ul class="nav">
                  {% if user.is_authenticated %}
                      <li><a href="/profile" class="pull-right">My Profile</a></li>
                      <li><a href="/logout" class="pull-right">Hello, {{ user.username }} (logout)</a></li>
                  {% else %}
                      <li><a href="/login" class="pull-right">Login</a></li>
                  {% endif %}
              </ul>
           </div>
        </form>
      </div>

    </div>
{% block content %}
{% endblock %}
</body>
</html>