{% extends "testMain/base.html" %}
{% block title %}
    <title>Kyribench</title>
{% endblock %}

{% block content %}
    <h1>Welcome to Kyriba test site!</h1>
    Here you can find bunch of test to challenge your kyriba knowledge
    <table class="table">
        <caption><h3>Recent Test Results on site:</h3></caption>

        {% for result in results %}
            <tr>
                <td> {{ result.test.testName }} </td>
                <td> {{ result.correctAnswersPercent }} </td>
                <td> {{ result.testDate }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}