{% extends "testMain/base.html" %}

{% block title %}
    <title> "Test in progress..."</title>
{% endblock %}
<br>
{% block content %}

    <form name="question" action="{% url 'submitQuestion' q_id=question.id id=test_id %}" method="post" title="question" >
    {% csrf_token %}
    <br>
        <h1>{{ question.question }}</h1>
            <input type="radio" name="option" value={{ 1 }}> {{ question.option1 }}<br>
            <input type="radio" name="option" value={{ 2 }}> {{ question.option2 }}<br>
            <input type="radio" name="option" value={{ 3 }}> {{ question.option3 }}<br>
            <input type="radio" name="option" value={{ 4 }}> {{ question.option4 }}<br>
        <input type="submit" value="Submit answer">

    </form>


{% endblock %}