{% extends 'testMain/base.html' %}

{% block title %}
    <title>Kyribench - {{test.testName}}</title>
{%endblock%}

{% block content %}
    <h1>{{test.testName}}</h1>
    <h3>{{ test.testDescription }}</h3>
    <p>Remember: there can be the only one correct answer! After answer is submitted, it can't be changed.</p>
    <p>Good Luck!</p>
    <a href="/starttest/{{ test.id }}">Start Test!</a>
{%endblock%}