{% extends 'testMain/base.html' %}

{% block title %}
    <title>Kyribench - testFinished</title>
{%endblock%}

{% block content %}
    <h1>{{test.testName}}</h1>
    <h3>{{ test.testDescription }}</h3>
    <p>Test is finished! Your result is {{ result }} percent!</p>

{%endblock%}