{% extends 'testMain/base.html' %}

{% block title %}
    <title>Test List</title>
{% endblock %}

{% block content %}
    <table class="table">
        <caption>Tests available</caption>

        {% for test in tests %}
            <tr>
                <td><a href="/tests/{{ test.id }}/">{{ test.testName }}</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}