{% extends "testMain/base.html" %}
{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}

    <table class="table">
        <caption><h3>Hello! Your test results:</h3></caption>
        <td> <h5>User</h5></td>
        <td> <h5>Test Name</h5> </td>
        <td> <h5>Correct Answers %</h5> </td>
        <td> <h5>Test Date</h5> </td>
        {% for result in results %}
            <tr>
                <td> {{ result.user }}</td>
                <td> {{ result.test.testName }} </td>
                <td> {{ result.correctAnswersPercent }} </td>
                <td> {{ result.testDate }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}